Flask>=2.0
Flask-Cors>=3.0
Flask-SQLAlchemy>=2.5
SQLAlchemy>=1.4
psycopg2-binary>=2.9
marshmallow>=3.0
pymssql>=2.2
python-dotenv>=0.21
Flask-RESTX>=1.1.0
flasgger
fastapi
apispec
apispec_webframeworks
flask-swagger-ui
Pillow>=9.0.0
cloudinary>=1.30.0
PyJWT>=2.0.0
google-auth>=2.0.0
dependency-injector>=4.40.0
APScheduler>=3.10.0
